{% extends 'pages/home.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
  {% block content %}
{% endblock %}




    <header>
        <h1>Welcome to Luminex Pharmaceuticals</h1>
    </header>

    <section>
        <h2>Unveiling a User-Friendly Revolution</h2>
        <p>At Luminex Pharmaceuticals, we're reshaping how we handle crucial transactional data. Our user-friendly system simplifies the encoding process for all, regardless of their familiarity with traditional methods.</p>

        <h2>Style and Simplicity</h2>
        <p>Our website's design combines a modern and clean aesthetic with intuitive functionality, ensuring a seamless user experience.</p>

        <h2>Join us on the Journey</h2>
        <p>Luminex Pharmaceuticals invites you to experience the future of pharmaceutical workflow. Our commitment to innovation and efficiency is reflected in every aspect of our new website.</p>
    </section>

{% endblock %}